@import './palette.scss';
@import './nprogress.scss';
@import './fonts.scss';

:root {
    box-sizing: border-box;

    /* Resolve scrollbar layout jupming issue. */
    width: 100vw;
    overflow-x: hidden;
    font-family: Roboto, system-ui;
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2;
}

a {
    color: var(--color-1);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    font-family: radnika_next, system-ui;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
